<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>992252609518-lue5kd82kra9nqgutq82kvfra80g9kkc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.992252609518-lue5kd82kra9nqgutq82kvfra80g9kkc</string>
	<key>API_KEY</key>
	<string>AIzaSyB_nipXQm0dYo8GqFYhQPhM950PFgQBuVw</string>
	<key>GCM_SENDER_ID</key>
	<string>992252609518</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stormdeve.medconnect</string>
	<key>PROJECT_ID</key>
	<string>med-connect-stormdeve</string>
	<key>STORAGE_BUCKET</key>
	<string>med-connect-stormdeve.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:992252609518:ios:25bad7d66e76cc4751c4ff</string>
</dict>
</plist>